* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;    
    background-image: radial-gradient(circle, #4c6bb7, #7469b9, #9666b6, #b462ae, #cd5fa1, #cd5c9e, #ce5a9b, #ce5798, #b753a0, #9d52a6, #7e51a9, #5a51a9);
}

a {
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;    
}

p {
    margin: 15px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 10px;
    background-color: white;
    padding: 50px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    font-family: 'Raleway', sans-serif;    
}

button {
    font-family: 'Raleway', sans-serif;    
    padding: 10px;
    border: unset;
    cursor: pointer;
	background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #0B57E3;
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    font-size: 23px;
    transition: 1s;

    
}
button:hover{
    background-image: linear-gradient(to left, #051937, #004a70, #0081a5, #09bdd1, #5ffbf1);
    color: white;
    transition: 1s;

}
label{
    font-size: 19px;
    color: #757575;
}

.msg {
    color: white;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to left bottom, #fe032d, #d61233, #ae1c34, #852031, #5e212b);
    transition: 2s;
}

.logout {
    color: #b7625c;
}
@media (max-width: 992px) {
    form{
      padding: 100px 90px 33px 85px;
    }
  

  
 
  }
  
  @media (max-width: 768px) {
    form{
      padding: 100px 80px 33px 80px;
    }
  

 
  }
  
  @media (max-width: 320px) {
    form {
      padding: 100px 15px 33px 15px;
    }
  }
  
